h1, h3, nav{
    text-align: center;
  
}

ul li {
    display: inline;
    margin: 30px;
}


table, th, td {
    border: 2px solid black;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

}

.container{
    text-align: center;
    border: 2px solid black;
    padding: 30px;
    background-color: white;
}

#visao {
    width: 270px;
    height: 180px;
    display: inline;
   
}

#aspecto {
    width: 270px;
    height: 180px;
    display: inline

}

#soco {
    width: 270px;
    height: 180px;
    display: inline

}

#rodape{
    text-align: center;
}

