h1 {
    text-align: left;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 65px;
    color:orange;
}

body {
      text-align: left;
      font-size: 16px;
}

ul {
    color:gray;
}

.paragraph-list{
    color: aqua;
}

#am {
    color: yellow

}

#vr {
     color: green
}

#mr {
     color: brown
}